img{
  width:5%;
  margin-left: 230px;
}
.header{
  background-color: rgb(42, 197, 255);
    margin-left: 175px;
  margin-right: 1500px; 
  text-indent: 10px; 
  font-size: 14px;
  font-family: Arial, Calibri, Sans-serif; 
  color: white; 
  border: 1px solid white;
  opacity: 0.6;
}
h3{
  font-size: 14px;
  font-family: Arial, Calibri, Sans-serif;
}
.summary{
  font-size: 12px;
}

ul{
  font-size:20px;
  border: 1px solid black;
}

p{
  text-indent: 200px;
}
